@{
    ViewData["Title"] = "Terms and Conditions";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<main role="main" property="mainContentOfPage" class="container">

	    <!-- MainContentStart -->
		<a id="wb-cont"></a>
		
<h1>Terms and conditions of the online industrial security services portal</h1>

<div>
	<p>To access and use the online industrial security services (OLISS) portal, you must agree to the terms and conditions on this page.</p>
	<p>At the bottom of the page, select either <strong>“I agree”</strong> or <strong>“I do not agree”</strong>. By selecting “I agree”, you agree to have read and to abide by the stated terms and conditions.</p>
</div>
<div>
	<h2>Terms of use</h2>
	<p>You have been provided a user ID and password to access <abbr title="Online Industrial Security Services">OLISS</abbr>. To use this application, you acknowledge that:</p>
	<ul>
		<li>your user ID and password are for your use only, and they must be kept secured at all times</li>
		<li>you will not allow access to unauthorized individuals</li>
		<li>you will only do work you are authorized to do</li>
		<li>you will only access or copy data that your organization is specifically required and authorized to use</li>
		<li>you will not try to modify any <abbr title="Online Industrial Security Services">OLISS</abbr> functionality</li>
		<li>your computer and its software and files are free of viruses before logging in to <abbr title="Online Industrial Security Services">OLISS</abbr></li>
		<li>you will not share any sensitive information with unauthorized individuals</li>
		<li>you will not use any information or data for unauthorized purposes</li>
		<li>you will not destroy or modify data</li>
		<li>you will not obstruct, interrupt or interfere with the lawful use of data</li>
	</ul>
</div>
<div>
	<h2>Privacy notice statement</h2>
	<p>Public Services and Procurement Canada and the Contract Security Program respect the personal privacy of individuals who visit their websites.</p>
	<h3>Collecting personal information</h3>
	<p>The Contract Security Program does not automatically gather any personal information from you during your visit to its websites.</p>
	<p>Any personal information you provide to the program is voluntary. This may include your name, telephone number, email or street address. The program protects and uses your information per the federal <a href="http://laws-lois.justice.gc.ca/eng/acts/p-21/"><cite>Privacy Act</cite></a> and <a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=12510"><cite>Policy on Privacy Protection</cite></a>. The program will tell you when and why your personal information is being collected, and that you have a right to access this information.</p>
	<h3>Identifying unauthorized access</h3>
	<p>The Contract Security Program monitors network traffic to identify unauthorized access. It uses software to identify attempts to upload or change information or to cause damage.</p>
	<p>This program’s software receives and records the <abbr title="Internet Protocol">IP</abbr> address of any computer contacting the website, the date and time of the visit and the pages visited. The program will never identify users by their <abbr title="Internet Protocol">IP</abbr> address unless it detects an attempt to damage the website.</p>
	<h3>Improving web efficiency</h3>
	<p>The Contract Security Program may sometimes use cookies to track how visitors use this website and to determine which websites were previously visited.</p>
	<p>Cookies are files that may be placed on your hard drive without your knowledge by a website to allow it to monitor your use of the website. They do not allow the Contract Security Program to identify individuals. Instead, they are compiled as data on web traffic patterns and are used to assess the program’s website efficiency. If a website is using cookies that collects personal information, an on-screen notice will let you know that this is happening. You can refuse to allow cookies. If you do, the website will work the same way and you will still have access to the same information.</p>
</div>
<div>
	<h2>Security</h2>
	<p>The Contract Security Program ensures that:</p>
	<ul>
		<li>any personal information you provide is kept confidential</li>
		<li>your electronic transactions with the program are secure</li>
	</ul>
	<p>The program ensures that your transactions are secure in two ways:</p>
	<h3>Encryption</h3>
	<p>This electronically scrambles the data stream between your computer and the program’s server. Encryption minimizes the risk that internet hackers and other users will alter or view information being transmitted. You must be using a browser with 128-bit encryption to access this website.</p>
	<h3>Firewalls</h3>
	<p>These are a combination of hardware and software designed to securely separate the outside world from the program’s internal computer systems and database.</p>
</div>
<a class="wb-inv" id="alert"></a>
<section class="alert alert-info">
	<h3>Note</h3>
	<p>Never use email to send sensitive information to the Contract Security Program.</p>
</section>

<div>
	<h2>Using <abbr title="Online Industrial Security Services">OLISS</abbr> on a shared computer</h2>
	<p>If you are using <abbr title="Online Industrial Security Services">OLISS</abbr> on a shared computer in a public area, such as a public kiosk or library:</p>
	<ul>
		<li>do not leave the computer unattended while accessing the service</li>
		<li>do not save any personal information on the computer’s hard drive</li>
		<li>log out of <abbr title="Online Industrial Security Services">OLISS</abbr> and delete any incomplete print jobs once you have completed your session</li>
	</ul>
	<h2>Disclaimer</h2>
	<p>Users assume the risk associated with any transfer of information to the Contract Security Program and with any other use of this website. The Contract Security Program has made all reasonable efforts to protect the confidentiality of the information you provide and to ensure that your electronic transactions with us are secure. However, the Contract Security Program is not liable for any damages that may arise from interception, loss, theft or their action regarding your personal information while in transit.</p>
	<p>The Contract Security Program is not responsible for any losses or damages incurred by anyone because of any restriction, delay, malfunction, or unavailability of the OLISS portal.</p>
	<p>Users are solely responsible for the accuracy of the information provided to the Contract Security Program via this service.</p>

	
		<div class="container-fluid mrgn-tp-md">
			<a class="btn btn-primary pull-left" href="index-eng.cfm?9480FFD50FBF2D195A4170DFDBC37B77124B3954D36A151AAC904A40800D9021976EAE2EEDADD0CFF1ECDF8EA713A930" title="I agree"><strong>I agree</strong></a>
			<a class="btn btn-default pull-right" href="index.html" title="I do not agree"><strong>I do not agree</strong></a>
		</div>
	
</div>

	<div class="row pagedetails">
	  <div class="col-xs-6 datemod">
	    <dl id="wb-dtmd">
	      <dt>Date modified:&nbsp;</dt>
	      <dd>
	        <time property="dateModified">2018-01-29</time>
	      </dd>
	    </dl>
	  </div>
	</div>
      <!-- MainContentEnd -->
    </main>
